{% extends 'main/base.html.twig' %}
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Bucket-List</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
{% endblock %}

{% block content %}
  <div class="flex flex-col justify-center items-center py-14">
    <div class="bg-white shadow-lg rounded-lg p-8 max-w-max">
      <h4 class="text-2xl font-bold text-center pb-3">{{ wish.name }}</h4>
      <img class="mb-4" src="{{ wish.imageFilename ? asset('upload/image/wish/' ~ wish.imageFilename) : "" }}">
      <p class="text-gray-700 text-justify mb-4 break-words">{{ wish.content }}</p>
      <p class="text-gray-700 text-justify mb-4"><span class="font-medium">Auteur : </span> {{ wish.user.username }} </p>
      <p class="text-gray-700 text-justify mb-4"><span class="font-medium">Réalisé :</span> {{ wish.realised ? "✔️":"❌" }}</p>
      <p class="text-gray-700 text-justify mb-4"><span class="font-medium">Catégorie :</span> {{ wish.category ? wish.category.name : '❓' }}</p>
      <p class="text-gray-700 text-justify mb-4"><span class="font-medium">Date : </span> {{ wish.dateCreated|date('d-m-Y') }}</p>
      <p class="text-gray-700 text-justify mb-4"><span class="font-medium">Nombres de participants : </span> {{ wish.players|length }}</p>
      {% if wish.players|length > 0 %}
        <p class="text-gray-700 text-justify mb-4"><span class="font-medium">Liste des participants : </span></p>
        {% for player in wish.players %}
          <li class="left-0 sm:pb-4">{{ player.firstName ~ ' ' ~ player.lastName }}</li>
        {% endfor %}
      {% endif %}
      <p class="text-gray-700 text-justify mb-4"><span class="font-medium">Commentaires : </span></p>
      {% for comment in comments %}
        <div class="flex flex-row justify-between">
          <li class="left-0 sm:pb-4 break-words text-justify">{{ comment.content }}</li>
          {% if app.user and app.user == wish.user %}
            <a href="{{ path('comment_update', {'id': comment.id}) }}">
              <button type="submit" class="bg-green-500 hover:bg-green-400 text-white font-bold border-b-4 border-green-700 hover:border-green-500 rounded">
                <img alt="update" src="{{ asset('img/edit.png') }}">
              </button>
            </a>
            <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce commentaire ?');" class="ml-4">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="bg-red-500 hover:bg-red-400 text-white font-bold border-b-4 border-red-700 hover:border-red-500 rounded">
                <img alt="update" src="{{ asset('img/delete.png') }}">
              </button>
            </form>
          {% endif %}
        </div>
      {% endfor %}
      <p class="text-gray-700 text-justify mb-4">
        <span class="font-medium">Note moyenne :</span>
        <span class="stars">
          {% for i in 1..5 %}
            {% if i <= averageScore %}
              <!-- Étoile remplie -->
              <span class="text-yellow-500 text-2xl">&#9733;</span>
              {% else %}
              <!-- Étoile vide -->
              <span class="text-yellow-500 text-2xl">&#9734;</span>
            {% endif %}
          {% endfor %}
        </span>
      </p>
      {% if app.user and app.user == wish.user %}
        <div class="flex flex-row justify-between">
          <form method="post" action="{{ path('wish_delete', {'id': wish.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce souhait ?');" class="mr-4">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
              <img src="{{ asset('img/delete.png') }}" alt="delete">
            </button>
          </form>
          <a href="{{ path('wish_update', {'id': wish.id}) }}">
            <button type="submit" class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">
              <img alt="update" src="{{ asset('img/edit.png') }}">
            </button>
          </a>
          <a href="{{ path('comment_new', {'wishId': wish.id}) }}">
            <button type="button" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
              <img alt="newComment" src="{{ asset('img/commentaire.png') }}">
            </button>
          </a>
        </div>
      {% endif %}
      {% if app.user and app.user != wish.user %}
      <div class="flex flex-row justify-center">
        <a href="{{ path('comment_new', {'wishId': wish.id}) }}">
          <button type="button" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
            <img alt="newComment" src="{{ asset('img/commentaire.png') }}">
          </button>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}